# iris ipynb

In [ ]:
#sepal length vs sepal width plot
import matplotlib.pyplot as plt

plt.scatter(df["sepal lenth (cm)"], df["sepal width (cm)"], c=df["species"], cmap="viridis", alpha=0.7)
plt.xlabel("Sepal length (cm)")
plt.yabel("Sepal width (cm)")
plt.title("Iris dataset")
plt.show()

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1826061471.py, line 4)

In [2]:
# Load Data

from sklearn.datasets import load_iris
import pandas as pd

# Load dataset
iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df["species"] = iris.target

df.head(8)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
5,5.4,3.9,1.7,0.4,0
6,4.6,3.4,1.4,0.3,0
7,5.0,3.4,1.5,0.2,0